RuleEngine_Basic_Sample_Flow.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Sample flow which reads data from a CSV file, splits it into single rows, executes business rules using the ruleengine and outputs those rows, which passed the rule logic to files.</description>
  <groupId>921717a2-100d-115a-2108-57fb74e1d584</groupId>
  <name>RuleEngine Basic Sample Flow</name>
  <snippet>
    <connections>
      <id>d3854741-015a-1000-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>d384ef8e-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>921717a2-1014-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d3856df3-015a-1000-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>921717a4-1014-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>d384ef8e-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>015a1000-1e03-14a6-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>921717a3-1012-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>921717a3-1014-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>015a1000-f8eb-14a5-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>921717a3-1014-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>921717a4-1014-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>015a1004-1e03-14a6-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>921717a2-1014-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>921717a2-100d-115a-0000-000000000000</groupId>
        <id>921717a2-1012-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <labels>
      <id>921717a3-100d-115a-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <position>
        <x>2.35595703125</x>
        <y>389.97180175781256</y>
      </position>
      <height>145.58367919921875</height>
      <label>Sample Flow with the RuleEngine

 
- GetFile: Get a CSV File
- SplitText: Split the CSV file into individual lines
- RuleEngine: Run business rules against the individual fields (the ruleengine splits the CSV row into individual fields) of the row from the CSV file
- Route OnAttribute: route the flowfile based on if the business rules passed or failed
- UpdateAttribute: update the filename
- PutFile: output the CSV rows that passed the business logic to individual files</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>12px</value>
        </entry>
      </style>
      <width>838.1812744140625</width>
    </labels>
    <processors>
      <id>921717a2-1012-115a-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <position>
        <x>0.6799492592031129</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/home/uwe/data</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>allCountries_.*.txt</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>921717a2-1014-115a-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>233.79102591476754</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText to rows</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>921717a3-1012-115a-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <position>
        <x>950.3568501495242</x>
        <y>231.62912869139478</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/home/uwe/data/output</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Data passed the busines logic</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>921717a3-1014-115a-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <position>
        <x>948.1279106940524</x>
        <y>5.705681245701555</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>ruleengine.rulegroupsFailed</key>
            <value>
              <name>ruleengine.rulegroupsFailed</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to 'match' if all match</value>
          </entry>
          <entry>
            <key>ruleengine.rulegroupsFailed</key>
            <value>${ruleengine.rulegroupsFailed:equals('0')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Route Ruleengine result</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>921717a4-1014-115a-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <position>
        <x>486.32208421519726</x>
        <y>236.66156731484563</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>filename</key>
            <value>${filename:substringBefore('.'):append('_fragment_'):append(${fragment.index}):append('.csv'):trim()} </value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Update Filename</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>d384ef8e-015a-1000-0000-000000000000</id>
      <parentGroupId>921717a2-100d-115a-0000-000000000000</parentGroupId>
      <position>
        <x>488.12264715591164</x>
        <y>3.25463285429322</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Ruleengine Project Zip File</key>
            <value>
              <name>Ruleengine Project Zip File</name>
            </value>
          </entry>
          <entry>
            <key>Header present</key>
            <value>
              <name>Header present</name>
            </value>
          </entry>
          <entry>
            <key>Field Names</key>
            <value>
              <name>Field Names</name>
            </value>
          </entry>
          <entry>
            <key>Field Separator</key>
            <value>
              <name>Field Separator</name>
            </value>
          </entry>
          <entry>
            <key>Output detailed results</key>
            <value>
              <name>Output detailed results</name>
            </value>
          </entry>
          <entry>
            <key>Output detailed results type</key>
            <value>
              <name>Output detailed results type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Ruleengine Project Zip File</key>
            <value>/home/uwe/development/ruleengine/nifi_test2_dev.zip</value>
          </entry>
          <entry>
            <key>Header present</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Field Names</key>
            <value>geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date</value>
          </entry>
          <entry>
            <key>Field Separator</key>
            <value>Tab</value>
          </entry>
          <entry>
            <key>Output detailed results</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Output detailed results type</key>
            <value>all groups - all rules</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExecuteRuleEngine</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>detailed output</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>com.datamelt.nifi.processors.ExecuteRuleEngine</type>
    </processors>
  </snippet>
  <timestamp>03/18/2017 22:53:25 CET</timestamp>
</template>